<h1>Restaurants</h1>

  <div class="btn btn-primary">
    <%= link_to 'Create new Restaurant', new_restaurant_path, :class => "btn btn-primary" %>
  </div>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
    <%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>
